[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = git@github.com:tokuchan/spacemacs.git
[submodule "submodules/autojump"]
	path = submodules/autojump
	url = git@github.com:wting/autojump.git
[submodule "astro-nvim/.config/nvim"]
	path = astro-nvim/.config/nvim
	url = https://github.com/AstroNvim/AstroNvim
