[user]
	name = sspillane
	email = sspillane@maystreet.com

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[color "branch"]
	current = blue reverse
	local = blue
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = magenta
	untracked = cyan

[core]
	pager = less -FRSX
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	autocrlf = input
	quotepath = false
	editor = vim -O

[alias]
	aliases = !$HOME/dev/config/aliases.py
	branches = branch -a
	remotes = remote -v
	stashes = stash list
	tags = tag
	tree = log --all --graph --decorate --oneline --simplify-by-decoration

	fix = "!f() { $EDITOR $(git diff --name-only); }; f"
	last = log -l HEAD
	save = "!f () { cd -- ${GIT_PREFIX:-.}; git stash push -m\"$(git state)\" $@; }; f"
	unstage = reset HEAD --

	a = add
	br = branch -a
	c = commit
	co = checkout
	cp = cherry-pick
	df = diff
	fo = fetch origin
	lg = log -p
	pos = push --set-upstream origin
	p = pull
	pp = push
	rs = restore --staged
	st = status
	state = "!f () { cd -- ${GIT_PREFIX:-.}; echo \"{\\\"branch\\\":\\\"$(git rev-parse --abbrev-ref HEAD)\\\",\\\"cwd\\\":\\\"$(git pwd)\\\",\\\"commit\\\":\\\"$(git log --pretty=format:\"%H\\\",\\\"log\\\":\\\"%s\"|head -1)\\\"}\" | jq $*; }; f"
	sw = switch
	tg = tag
	regen-aliases = "!for a in $($HOME/dev/config/aliases.py -f simple -D); do fish -c alias g$a='g $a'; done"
	f = fuzzy-fetch
	g = goto

[pull]
	rebase = false

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
	tool = vim
	ff = no

[mergetool]
	prompt = false
[init]
	defaultBranch = master
